<?xml version="1.0" encoding="utf-8"?>
<!--
/**
 * Copyright 2023 Google LLC
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * https://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

  <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>
  <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

  <uses-permission android:name="android.permission.RECORD_AUDIO" />

  <application
      android:allowBackup="true"
      android:dataExtractionRules="@xml/data_extraction_rules"
      android:fullBackupContent="@xml/backup_rules"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/Theme.SoundChecker">
    <activity
        android:name=".MainActivity"
        android:exported="true"
        android:theme="@style/Theme.SoundChecker">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
        android:name=".MQAFilePlayerActivity"
        android:exported="true"
        android:label="@string/mqa_player"
        android:theme="@style/Theme.SoundChecker">
    </activity>
    <activity
        android:name=".DSDFilePlayerActivity"
        android:exported="true"
        android:label="@string/dsd_player"
        android:theme="@style/Theme.SoundChecker">
    </activity>
    <activity
        android:name=".ResonanceActivity"
        android:exported="true"
        android:label="@string/test_resonance"
        android:theme="@style/Theme.SoundChecker">
    </activity>
    <activity
        android:name=".HarmonicAnalyzerActivity"
        android:exported="true"
        android:label="@string/test_harmonic_distortion"
        android:theme="@style/Theme.SoundChecker">
    </activity>
    <activity
        android:name=".AudioEncoderDecoderActivity"
        android:exported="true"
        android:label="@string/test_audio_encoder_decoder"
        android:theme="@style/Theme.SoundChecker">
    </activity>

    <provider
        android:name="androidx.core.content.FileProvider"
        android:authorities="${applicationId}.provider"
        android:exported="false"
        android:grantUriPermissions="true">
      <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/provider_paths" />
    </provider>

    <service
        android:name=".FilePlayerService"
        android:foregroundServiceType="mediaPlayback"
        android:exported="false">
    </service>
  </application>

</manifest>
